html {
	height: 100%;
  }
  
  .tablero-container {
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
  }
  
  header {
	color: #000000;
	text-align: center;
	padding: 5px;
	font-size: 30px;
	width: auto;
	height: auto;
	overflow-x: auto;
	background-color: hsla(209, 22.6%, 33.4%);
	opacity: 0.8;
	color: #ffffff;
	animation-name: header;
	animation-duration: 4s;
	margin-bottom: 25px;
  }
  
  @keyframes header {
	from {
		background-color: white;
		color: black;
	}
	to {
	  background-color: hsla(209, 22.6%, 33.4%, 0.9);
	  color: white;
	}
  } 
  
  .board {
	width: 230px;
	background-image: url('../images/circles.png');
	background-size: 340px 95px;
	background-color: #268dd1;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.board-button {
	display: block;
	width: 230px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	text-align: left;
	padding: 0;
	margin-bottom: 10px;
	margin-right: 10px;
  }
  
  .board:hover {
	background-color: #0077c7;
	border-radius: 10px;
  }

  .newBoard {
	width: 230px;
	background-color: #a1c0d5;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .newBoard:hover {
	background-color: #55a0d1;
	border-radius: 10px;
  }

  .column-name {
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
  }
  
  .column-cards {
	margin-top: 5px;
	font-size: 14px;
	color: #555;
  }
  

  .board-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #fff;
  }
  
  .board-description {
	font-size: 14px;
	color: #fff;
  }
  
  .board-update-date {
	font-size: 12px;
	color: #fff;
  }  

  footer {
	background-color: hsla(209, 22.6%, 33.4%);
	color: #ffffff;
	text-align: center;
	padding: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
  }

  .board-cerrar-sesion {
	position: fixed;
	bottom: 80px;
	right: 30px;
	width: 120px;
	height: 35px;
	background-color: #268dd1;
	border: none;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	text-align: center;
  }

  .board-cerrar-sesion:hover {
	background-color: #0077c7;
	border-radius: 10px;
  }

  .column-container {
	display: flex;
	flex-wrap: wrap;
  }
  
  
  
  