html {
	height: 100%;
  }
  
  .page-container {
	background-image: url('../images/wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
  }
  
  header {
	color: #000000;
	text-align: center;
	padding: 5px;
	font-size: 30px;
	width: auto;
	height: auto;
	overflow-x: auto;
	background-color: hsla(209, 22.6%, 33.4%, 0.9);
	opacity: 0.8;
	color: #ffffff;
	animation-name: header;
	animation-duration: 4s;
	margin-bottom: 25px;
  }
  
  @keyframes header {
	from {
		background-color: white;
		color: black;
	}
	to {
	  background-color: hsla(209, 22.6%, 33.4%, 0.9);
	  color: white;
	}
  }  
  
  #board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  footer {
	background-color: #4d4d4d;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
  }
  
  footer p {
	margin: 0;
  }
  
  .list.drop {
	background-color: #4d4d4d;
	color: #ffffff;
  }
  
  .add-card {
	background-color: #25d615;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	margin-top: 8px;
	padding: 6px 8px;
	text-align: left;
  }
  