@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* font-family: 'Bangers', cursive; */

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu{
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    padding: 0;
    text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.button-container {
    margin-top:50px;
  }
  

 
  
  
  .register-button {
    display: inline-block;
    padding: 20px 40px;
    margin-bottom: 10;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  
  .register-button {
    background-color: #FF3562;
    color: #fff;
  }
  
  .login-button:hover,
  .register-button:hover {
    background-color: #243c85;
  }
  

.menu i {
    font-size: 32px;
}

.menu a{
    margin: 30px 0;
    color: #030000;
}

.page{
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#p1{
    width: 100%;
    background: #000a06;
    left: 0;
}

#p2{
    background: #324C54;
}

#p3{
    background: #FF3562;
}

#p2 , #p3{
    width: 90%;
    left: 10%;
    transform: translateX(190%);   
}

.menu a{
    transition: all .5s ease-in-out;
    color: #3943B7;
}

.menu a:hover {
    opacity: 0.5;
}

.page {
    font-family: 'Bangers', cursive;
	color: #f8f2f2;
    
    font-size: larger;
    letter-spacing: 0.2em;
}

.page h2 {
	font-size: 36px;
	line-height: 2;
}

.page span {
	font-size: 60px;
    font-family:'Arial Narrow Bold';
}

.page {
	transition: all .6s cubic-bezier(.5, .2 , .2 , 1.1); 
}

#t2:target #p2,
#t3:target #p3{
  transform: translateX(0%);
  transition-delay: .4s !important;
}

#t2:target #p1, 
#t3:target #p1{
  background: black;
	filter: blur(3px)
}

#t2:target .menu a,
#t3:target .menu a{
  transform: scale(.6);
  transition-delay: .25s;
}

#t2:target .menu .two,
#t3:target .menu .three{
  transform: scale(1.2);
}

.page .wrap {
	width: 50%;
    transform: translateX(200%);
    transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .wrap {
    transform: translateX(0%);
}

#t2:target .page#p2 .wrap,
#t3:target .page#p3 .wrap {
  transform: translateX(0);
  transition-delay: 1s;
}


footer{
    
    background-color: hsla(0, 0%, 92%, 0);
   
}

footer a{
    color: hsl(240, 71%, 19%);
     
    
}

footer a i{
    font-size: 100px;
    
    margin: 0 10px;
   transition: all .5s ease-in-out;
    margin-bottom:7rem;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  padding-right: 10px;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  border-inline-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  #151719;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.waviy span {
  font-family: 'Alfa Slab One', cursive;
  font-size: 87px;
  position: relative;
  display: inline-block;
  color: #030000;
  text-transform: uppercase;
  animation: waviy 3s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
/*---------------------------------------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
  }
  
  body {
   
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  h1 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 700px;
  }
  
  h1 span {
    
    margin-left: -350px;
  }
  
  .message {

    background-color: yellow;
    color: #333;
    display: block;
    font-weight: 800;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 290px;
    animation: openclose 7s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 190px;
    }
    30% {
      top: 0.2rem;
      width: 190px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 330px;
    }
    62% {
      top: -4.5rem;
      width: 330px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
